body {
    position: relative;
    
}
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh; /* Ajusta la altura según sea necesario */
    overflow-y: auto;
}

.sidebar-content {
    padding: 15px; /* Ajusta el relleno según sea necesario */
}

.sidebar-content a.nav-link {
    color: #000; /* Color de texto normal */
    transition: color 0.3s; /* Transición para el cambio de color */
}

.sidebar-content a.nav-link:hover {
    background-color: rgb(147, 207, 245);
    color: #070707; /* Color de texto al pasar el cursor sobre el enlace */
    border-radius: 7px;
}
.encabezado {
    background-color: rgb(147, 207, 245);
    padding: 15px;
    border-radius: 7px;
}

.section {
    background-color: rgb(172, 216, 243);
    padding: 15px;
    border-radius: 7px;
}

pre {
    white-space: pre-wrap;    
  }

.codigo-fuente {
    background-color: white;
}

.sql-statement {
    color:blue;
}

.sql-common {
    color: black;
}

.sql-operator {
    color: grey;
}

.sql-function {
    color: rgb(255, 88, 199);
}

.sql-string {
    color: red;  
}

.contenedor-ejemplo {
    background-color: rgb(171, 190, 201);
    padding: 15px;
    border-radius: 7px;
}