body {
    position: relative;
    
}
.sidebar {
    background-color:rgb(215, 231, 241);
    border-radius: 7px;
}
@media (max-width: 767.98px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        padding-top: 56px; /* Ajusta según la altura del navbar si es necesario */
        width: 100%;
        
    }

    .main-content {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        padding-top: 56px; /* Ajusta según la altura del navbar si es necesario */
        width: 250px; /* Ancho deseado para pantallas grandes */
    }

    .main-content {
        margin-left: 250px; /* Ancho del sidebar en pantallas grandes */
    }
}
.encabezado {
    background-color: rgb(147, 207, 245);
    padding: 15px;
    border-radius: 7px;
}

.section {
    background-color: rgb(172, 216, 243);
    padding: 15px;
    border-radius: 7px;
}

pre {
    white-space: pre-wrap;    
  }

.codigo-fuente {
    background-color: white;
}

.sql-statement {
    color:blue;
}

.sql-common {
    color: black;
}

.sql-operator {
    color: grey;
}

.sql-function {
    color: rgb(255, 88, 199);
}

.sql-string {
    color: red;  
}

.contenedor-ejemplo {
    background-color: rgb(171, 190, 201);
    padding: 15px;
    border-radius: 7px;
}